*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}
.nav-bar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* box 1 */
.nav-logo{
height: 50px;
width: 100px;
}
.logo{
    background-image: url(Images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
    padding: 5px;
}

.border:hover{
    border: 1.5px solid white;
}
/* box 2  */
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;    
}
.add-sec{
    font-size: 1rem;
    padding-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
 /* box 3  */
 .nav-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 40px; 
    border-radius: 4px;
    background-color: pink;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    height: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    height: 40px;
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    height: 40px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover {
    border: 2px solid orange;
}
 /* box */
 .box0{
    display: flex;
   align-items: center;
   justify-content: center;
 }
 img{
    height: 16px;
 }
 .text{
    padding-left: 5px;
    font-weight: 700;
 }
/* box 4 & 5 */
span{
    font-size: 0.7rem;
}
.nav-sec{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box 6 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* Panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* hero section */
.hero-section{
    background-image: url(Images/1.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 20px;
}
.hero-msg a {
color: #007185;
text-decoration: none;
}
/* shop section  */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 8px;
}
.box-img{
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
    font-size: 0.85rem;
}
/* book section */
.book-section{
    height: 270px;
    display: flex;
    /* justify-content: space-evenly; */
     background-color: #ffffff;
     margin: 15px;
} 
.book-img{
    height: 250px;
    width: 20%;
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 15px;
}
.book-head{
    margin-top: 20px;
    padding-left: 20px;
}
/* footer */
.footer{
    margin-top: 10px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
background-color: #222f3d;
color: white;
height: 350px;
display: flex;
justify-content: space-evenly;
}
ul p{
    margin-top: 20px;
    font-weight: 700;
    padding-bottom: 7px;
}
ul{
    margin-top: 25px;
}
ul a{
    display: block;
    font-size: 0.9rem;
    margin-top: 10px;
    color: #dddddd;
    font-weight: 500;
    text-decoration: none;
}
ul a:hover{
    text-decoration-line: underline;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5 px solid rgb(127, 121, 121);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(Images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.pannel-content{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}
.c-1{ 
    border: 1.1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    color: rgb(217, 211, 211);
}
.c-2{ 
    border: 1.1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    color: rgb(217, 211, 211);
}
.c-3{ 
    border: 1.1px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    color: rgb(217, 211, 211);
}
.c3-img{
    height: 12px;
    padding-top: 2px;
}
.foot-panel4{
background-color: #0f1111;
color: white;
height: 80px;
font-size: 0.75rem;
text-align: center;
font-weight: 500;
}
.pages{
padding-top: 25px;
}
.pages a{
    text-decoration: none;
    color: white;
    margin-right: 6px;
}
.copyright{
    padding-top: 5px;
}
.pages a:hover {
    text-decoration-line: underline;
}

